html{
	height: 100%;
}

body, .screen, .trees, .forest {
  height: 100%;
	background-size: contain;
	background-repeat: repeat-x;
	margin-left: -10px;
	margin-top: -5px;
}

body{
	background-image: url("images/parallax-forest-back-trees.png");
}

.trees{
	background-image: url("images/parallax-forest-lights.png");
}

.screen{
	width: 100%;
	height: 100%;
	background-image: url("images/parallax-forest-middle-trees.png");
}

.forest{
	background-image: url("images/parallax-forest-front-trees.png");
	z-index: 2;
	position: relative;
}

.kiwi{
	background: url("images/kiwi/walkingLeft.png");
	padding: 20px;
	position: fixed;
	box-sizing: border-box;
	background-repeat: no-repeat;
	left: 400px;
	top: 450px;
	background-size: 500px;
	width: 100px;
	height: 60px;
	z-index: 1;
}
